body {
  margin: 0;
  padding: 0;
  width: 1440px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {

}

.main-navigation {
  width: 1160px;
  display: flex;
  font-size: 16px;
  line-height: 30px;
  color: #283136;

  text-transform: uppercase;
}

.container {
  display: flex;
  justify-content: space-between;
}

.site-navigation  {
  display: flex;
  justify-content: center;
  width: 840px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation1 {
  margin-right: 47px;
}

.site-navigation2 {
  margin-right: 48px;
}

.site-navigation3 {
  margin-right: 45px;
}

.site-navigation4 {
  margin-right: 245px;
}

.user-navigation {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #283136;
}

.site-navigation a:hover,
.user-navigation a:hover{
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #bdbdbd;
}

.menu {
  width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.wrapp {
 width: 1160px;

 display: flex;
 justify-content: space-between;
 margin: 0;
 padding: 0;

}

.menu-item {
  width: 300px;
  height: 347px;
  margin-bottom: 80px;
}

.advert {
  display: flex;
  justify-content: center;
  width: 1440px;

  margin-bottom: 77px;
}

.advert-1 {
  height: 448px;
  margin-top: 80px;
}

.advert-text1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.advert-text2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 48px;
}

.advert-text3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 34PX;
}

.advert-text4 {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.advert-text5 {
  margin-bottom: 35px;
}

.advert-2{
  height: 448px;
}

.logo-colour {
  margin-bottom: 48px;
}

.advert-text6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 49PX;
}

.advert-text7 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 1440px;
}

.partners-html {
 padding-top: 62px;
}

.partners-barber {
 padding-top: 46px;
}

.partners-pink {
 padding-top: 65px;
}

.partners-mishka {
 padding-top: 52px;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button.button-red {
 background-color: #fb565a;
}
.button.button-red:hover{
  background-color: #e74246;
}
.button.button-red:focus{
  color: #e48789;
  background-color: #d7373b;
}

.button.button-green {
  background-color: #00ca74;
}
.button.button-green:hover{
  background-color: #00bc6c;
}
.button.button-green:focus{
  color: #74c69c;
  background-color: #00aa62;
}

.button.button-yellow {
  background-color: #efc84a;
}
.button.button-yellow:hover{
  background-color: #eab534;
}
.button.button-yellow:focus{
  color: #edc47f;
  background-color: #e5a722;
}

.main-footer {
  display: flex;
  justify-content: center;

  width: 1440px;
}

.footer-friends {

}

.footer-friend {
  font-size: 36px;
  font-weight: 700;
}

.footer-discount {
  line-height: 22px;
}

.social-button:focus {
  color: #e37376;
}
*/каталог*/

.main-catalogue {
  font-size: 55px;
  line-height: 24px;
  font-weight: 500;
}

.catalog-columns {
  width: 1160px;
  display: flex;
  justify-content: center;
}

.filters {
  width: 260px;
}

.selection-item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.selection-item-menu {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.net-sale {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feauters {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-matrix {
 width: 760px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-info{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.button.button-grey {
  color: #000000;
  background-color: #eeeeee;
}
.button.button-grey:hover{
  color: #000000;
  background-color: #dfdfdf;
}
.button.button-grey:focus{
  color: #a9a9a9;
  background-color: #d5d5d5;
}
