body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #000000;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}

.main-header {
  background-color: #eeeeee;
  max-width: 1440px;
  margin: 0 auto;
}

.main-navigation {
  min-width: 1160px;
  display: flex;
  font-size: 16px;
  line-height: 30px;
  color: #283136;
  background-color: #eeeeee;

  text-transform: uppercase;
  margin-left: 140px;
  padding-top: 49px;
}

.logo {
  width: 160px;
  margin-right: 201px;
}

.nerds-logo:hover {
  color: #030303;
}

.nerds-logo:focus {
  color: #a6a6a6;
}

.container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;

  width: 683px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation1 {
  margin-right: 45px;
  padding-top: 26px;
}

.site-navigation2 {
  margin-right: 49px;
  padding-top: 26px;
}

.site-navigation3 {
  margin-right: 45px;
  padding-top: 26px;
}

.site-navigation4 {
  margin-right: 245px;
  padding-top: 26px;
}

.user-navigation {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.user-navigation .user-cart {
  position: relative;
  padding-left: 41px;
  padding-top: 26px;
}

.user-cart::before {
  content: "";

  position: absolute;
  top: 32px;
  left: 1px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-cart:hover::before,
.user-cart:focus::before,
.user-cart:active::before {
  opacity: 1;
}

.site-navigation a,
.user-navigation a {
  display: block;
  color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #283136;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #bdbdbd;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.slider {
  background-color: #eeeeee;
  position: relative;

  text-align: left;
  color: #000000;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  margin: 0 auto 26px auto;

  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.slider-text {
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.button.slide-button {
  display: inline-block;
  padding: 18px 54px 15px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button.slide-button:hover {
  background: #e74246;
}

.button.slide-button:focus {
  background: #d7373b;
  color: #e48789;
  box-shadow: inset 0 3px 0 0 rgba(193, 49, 53, 1);
}

.slider-item {
  width: 1160px;
  margin-left: 70px;
  padding-top: 34px;
  padding-bottom: 40px;
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 536px;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 17px;

  vertical-align: top;

  background-color: #ffffff;
  border: 6px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slider-controls label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;

}

#product-1:checked ~ .wrapper .slider {
  background-color: #eeeeee;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 77% 100%;
}

#product-2:checked ~ .wrapper .slider {
  background-color: #eeeeee;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 82% 10%;
}

#product-3:checked ~ .wrapper .slider {
  background-color: #eeeeee;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 79% 100%;
}

#product-1:checked ~ .wrapper #slide1,
#product-2:checked ~ .wrapper #slide2,
#product-3:checked ~ .wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .wrapper label[for="product-1"],
#product-2:checked ~ .wrapper label[for="product-2"],
#product-3:checked ~ .wrapper label[for="product-3"] {
  background-color: #c2c2c2;
}

.menu {
  min-width: 1440px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.wrapp {
  width: 1160px;

  display: flex;
  justify-content: left;
  margin: 0;
  padding: 80px 0 0 0;
}

.menu-item {
  width: 300px;
  height: 347px;
  margin-bottom: 66px;
  margin-right: 100px;
}

.menu-title {
  margin: 18px 0 0 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin-bottom: 32px;
}

.button.button-red {
  display: inline-block;
  padding: 17px 40px 15px 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;

  background: #fb565a;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button.button-red:hover {
  background-color: #e74246;
}

.button.button-red:focus {
  color: #e48789;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(193, 49, 53, 1);
}

.button.button-green {
  display: inline-block;
  padding: 17px 40px 15px 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;

  background: #00ca74;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.button.button-green:hover {
  background-color: #00bc6c;
}

.button.button-green:focus {
  color: #74c69c;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 153, 88, 1);
}

.button.button-yellow {
  display: inline-block;
  padding: 17px 40px 15px 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;

  background: #efc84a;
  border-radius: 3px;
  border: none;
  cursor: pointer;

}

.button.button-yellow:hover {
  background-color: #eab534;
}

.button.button-yellow:focus {
  color: #edc47f;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(206, 150, 31, 1);
}

.line {
  margin-left: 140px;
}

.wrapp-advert {
  width: 1160px;

  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.advert {
  display: flex;
  justify-content: center;
  width: 1440px;

  margin-bottom: 55px;
}

.advert-1 {
  height: 448px;
  width: 660px;
  margin-right: 140px;
}

.advert-text1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  padding-top: 67px;
}

.advert-text2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 39px;
}

.advert-text3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.advert-text4 {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.advert-text5 {
  margin-bottom: 24px;
}

.advert-text4 .advert-text5 {
  position: relative;
  left: 35px;
}

.advert-text5::before {
  content: "";

  position: absolute;
  left: -35px;
  top: 10px;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advert-2 {
  height: 448px;
}

.logo-colour {
  padding-top: 32px;
  margin-bottom: 13px;
}

.advert-text6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 47px;
  padding-left: 17px;
}

tbody {
  display: table-row-group;
  vertical-align: top;
  border-color: inherit;
}

table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 360px;
}

.advert-text7 {
  margin: 0;
  padding: 0;
  height: 34px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 800;
  color: #000000;
}

td.advert-text8 {
  margin: 0;

}

.advert-text8 {
  margin: 0;
  padding: 25px 0 0 0;
  height: 57px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.partners {
  display: flex;
  justify-content: center;
  height: 180px;
  width: 1440px;
  position: relative;
}

.wrapp-partners {
  width: 1160px;
  display: flex;
  justify-content: left;
  margin: 0;
  padding: 0;

}

.partners-html {
  padding-top: 55px;
  padding-left: 30px;
}

.partners-barber {
  padding-top: 39px;
  padding-left: 97px;
}

.partners-pink {
  padding-top: 57px;
  padding-left: 102px;
}

.partners-mishka {
  padding-top: 44px;
  padding-left: 122px;
}

.line-partners {
  position: absolute;
  left: 140px;
  top: 156px;
}

.map {
  min-height: 416px;
  position: relative;
  margin-top: 74px;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
}

.map-marker {
  position: absolute;
  top: 89px;
  right: 389px;
}

.modal {
  position: absolute;
  top: 54px;
  left: 140px;
  color: #000000;

  background-color: #ffffff;
  background-image: url("img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
  width: 270px;
  height: 259px;
  padding-top: 49px;
  padding-left: 51px;
}

.modal-text {
  margin: 0;
  padding-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modat-text1 {
  margin: 0;
  padding-bottom: 55px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.write {
  position: absolute;
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/write-back.png");
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow: 20px 30px 50px rgba(171, 171, 171, 0.7);
}

.write-login {
  top: 1706px;
  left: 240px;
  width: 960px;
  padding: 50px 60px;
}

.write-close {
  position: absolute;
  top: 0;
  right: 90px;

  width: 21px;
  height: 21px;

  border: 0;

  background-color: transparent;
  cursor: pointer;
}

.write-close::before,
.write-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #fecccd;
}

.write-close::before {
  transform: rotate(45deg);
}

.write-close::after {
  transform: rotate(-45deg);
}

.write-login h2 {
  margin: 0;
  margin-bottom: 27px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.user-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-item {
  width: 360px;
  margin: 0;
  margin-bottom: 60px;
}

.user-item label {
  display: block;
  margin-bottom: 12px;
  margin-left: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.user-item input {
  box-sizing: border-box;
  width: 360px;
  padding-top: 16px;
  padding-left: 15px;
  padding-bottom: 13px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #a1a1a1;

  background-color: transparent;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.user-item input:hover {
  border-color: #b4b9bb;
  color: #a1a1a1;
}

.user-item input:focus {
  border-color: #ffffff;
  color: #444444;
}

.user-item input:focus:invalid {
  border-color: #e74246;
  color: #e74246;
}

.user .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}



.main-footer {
  display: flex;
  justify-content: center;

  width: 1440px;
}

.footer-friends {

}

.footer-friend {
  font-size: 36px;
  font-weight: 700;
}

.footer-discount {
  line-height: 22px;
}

.social-button:focus {
  color: #e37376;
}



/*
каталог
*/

.shop-catalog {
  margin: 0;
  padding-top: 68px;
  background-color: #eeeeee;
  min-height: 163px;
  text-align: center;
}

.main-catalog {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
}

.catalog-columns {
  margin: 0;
  width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.selection {
  margin-top: 60px;
  margin-left: 140px;
  max-width: 260px;
}

.all-filters fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.all-filters legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
}

.all-filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-item {
  margin-bottom: 63px;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters legend {
  margin-bottom: 21px;
}

.net-sale {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding-left: 36px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.net-sale label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.net-sale-input-radio:hover,
.net-sale-input-radio:focus {
  opacity: 0.4;
}

.net-sale-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -5px;

  width: 18px;
  height: 18px;

  border: 5px solid #b8b8b8;
  border-radius: 50%;
}

.net-sale-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -26px;

  width: 9px;
  height: 9px;

  background-color: #b8b8b8;
  border-radius: 50%;
}


.net-sale-input:disabled + label {
  color: #ededed;

  opacity: 0.1;
}

.selection-item legend {
  margin-bottom: 27px;
}

.feauters {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
  padding-left: 36px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.selection-item label {
  position: relative;
  display: block;

  cursor: pointer;
  user-select: none;
}

.input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 23px;
  height: 23px;

  background-image: url("..img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.feauters-input-checkbox + label::before {
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  border: none;
  left: -36px;
  top: -2px;
  width: 27px;
  height: 23px;
}

.feauters-input-checkbox:checked + label::after {
  background-image: url(../img/checkbox-on.svg);
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: green;
}

.catalog-matrix {
  width: 760px;
  padding-left: 140px;
  margin-top: 44px;
}

.catalog-choice {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.choice {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding-right: 267px;
}

.choice-text {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  padding-right: 26px;
}

.choice-text:nth-child(4n) {
  padding-right: 48px;
}

.icon1  {
  fill-opacity: 0.2;
  cursor: pointer;
  padding-right: 15px;
}

.icon1:nth-child(2n) {
  padding-right: 0;
}

.icon1:hover path {
  fill: #a6a6a6;
}

.icon1:focus path,
.icon1:active path {
  fill: 231f20;
}






.catalog-list ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-info {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.button.button-grey {
  color: #000000;
  background-color: #eeeeee;
}

.button.button-grey:hover {
  color: #000000;
  background-color: #dfdfdf;
}

.button.button-grey:focus {
  color: #a9a9a9;
  background-color: #d5d5d5;
}
